datasets/__pycache__/simple_dataset_interface.cpython-310.pyc
datasets/barkopedia_dataset/barkopedia_dataset_ArlingtonCL2___barkopedia_dog_age_group_classification_dataset_default_0.0.0_598dbe51ca1f5564e1e6a1c733429cb9dc29b9b5.lock
datasets/barkopedia_dataset/ArlingtonCL2___barkopedia_dog_age_group_classification_dataset/default/0.0.0/598dbe51ca1f5564e1e6a1c733429cb9dc29b9b5_builder.lock
datasets/barkopedia_dataset/ArlingtonCL2___barkopedia_dog_age_group_classification_dataset/default/0.0.0/598dbe51ca1f5564e1e6a1c733429cb9dc29b9b5.incomplete_info.lock
datasets/barkopedia_dataset/ArlingtonCL2___barkopedia_dog_age_group_classification_dataset/default/0.0.0/598dbe51ca1f5564e1e6a1c733429cb9dc29b9b5/barkopedia_dog_age_group_classification_dataset-train.arrow
datasets/barkopedia_dataset/ArlingtonCL2___barkopedia_dog_age_group_classification_dataset/default/0.0.0/598dbe51ca1f5564e1e6a1c733429cb9dc29b9b5/barkopedia_dog_age_group_classification_dataset-validation.arrow
datasets/barkopedia_dataset/ArlingtonCL2___barkopedia_dog_age_group_classification_dataset/default/0.0.0/598dbe51ca1f5564e1e6a1c733429cb9dc29b9b5/dataset_info.json
models/__pycache__/__init__.cpython-310.pyc
models/__pycache__/ast_classification_model.cpython-310.pyc
models/__pycache__/model_interface.cpython-310.pyc
